<html>

<head>
    <script type="text/javascript" src="uuid.js"></script>
    <script type="text/javascript" src="array_extensions.js"></script>
    <script type="text/javascript" src="vector.js"></script>
    <script type="text/javascript" src="cluster.js"></script>
    <script type="text/javascript" src="eclidean.js"></script>
    <script type="text/javascript" src="TESTDATA.js"></script>
    <script type="text/javascript" src="test.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <style>
    td {
        padding: 10px;
        border: 1px solid black;
    }
    </style>
</head>

<body ng-app="EuclideanSpace">
    <div ng-controller="Main">
        <h1>Find S'</h1>

        Sample Size
        <input type="number" ng-model="params.sampleSize" />
        </br>
        P
        <input type="number" placeholder="p" ng-model="params.p" />
        </br>
        D
        <input type="number" placeholder="D" ng-model="params.D" />
        </br>
        k
        <input type="number" placeholder="k" ng-model="params.k" />
        </br>
        Min
        <input type="number" placeholder="Min Value" ng-model="params.minValue" />
        </br>
        Max
        <input type="number" placeholder="Max Value" ng-model="params.maxValue" />
        </br>
        <button ng-click="filterOutliers()">Filter Outliers</button>
        <div style="overflow-y: auto;">
        </br>
        </br>
            <div> No available outliers</div>
            <!-- <table>
                <thead>
                    <tr>
                        <td>id</td>
                        <td>X</td>
                        <td>Y</td>
                        <td>Z</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vector in S">
                        <td>
                            {{vector.id}}
                        </td>
                        <td>
                            {{vector.x}}
                        </td>
                        <td>
                            {{vector.y}}
                        </td>
                        <td>
                            {{vector.z}}
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>
        <!--  <h1>Distances</h1>
        <button ng-click="generateDistanceResult()">Generate Distances</button>
        <div style="overflow-y: auto;">
            <table>
                <thead>
                    <tr>
                        <td>Left</td>
                        <td>Right</td>
                        <td>Distance</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="distance in distanceResult">
                        <td>
                            {{distance.left.id}}
                        </td>
                        <td>
                            {{distance.right.id}}
                        </td>
                        <td>
                            {{distance.distance}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        </br>
        <!-- 
        <div style="float:right; top:15px; rigth:15px;">
            <h1>Hierarchical Agglomerative Clustering</h1>

        </div> -->
    </div>
</body>

</html>
